{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact list</h1>
    <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Societe</th>
                <th>Adresse</th>
                <th>Num</th>
                <th>Email</th>
                <th>Site</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.societe }}</td>
                <td>{{ contact.adresse }}</td>
                <td>{{ contact.num }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.site }}</td>
                <td>{{ contact.status }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-default" href="{{ path('contact_show', { 'id': contact.id }) }}">Montrer</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('contact_edit', { 'id': contact.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-default" href="{{ path('contact_new') }}">Creer un nouveau contact</a>
        </li>
    </ul>
{% endblock %}
