{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    <table class='table table-striped'>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ contact.prenom }}</td>
            </tr>
            <tr>
                <th>Societe</th>
                <td>{{ contact.societe }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ contact.adresse }}</td>
            </tr>
            <tr>
                <th>Num</th>
                <td>{{ contact.num }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Site</th>
                <td>{{ contact.site }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ contact.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-default" href="{{ path('contact_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a class="btn btn-default" href="{{ path('contact_edit', { 'id': contact.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
